@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/arizonatext-light/arizonatext-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-family: 'ArizonaText';
}

@font-face {
  src: url('../fonts/arizonatext-light/arizonatext-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-family: 'ArizonaText';
}