// Dark Mode

[data-bs-theme="dark"] {

  // Color System
  $gray-100: #0b1324;
  $gray-200: #0f172a;
  $gray-300: #1e293b;
  $gray-400: #334155;
  $gray-500: #475569;
  $gray-600: #64748b;
  $gray-700: #94a3b8;
  $gray-800: #cbd5e1;
  $gray-900: #e2e8f0;
  $gray-1000: #f1f5f9;
  $grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
    "1000": $gray-1000
  );
  $light-primary: #312b4d;
  $light-secondary: #312b4d;
  $light-tertiary: #312b4d;
  $light-success: #25483e;
  $light-info: #184457;
  $light-warning: #5a4327;
  $light-danger: #442626;
  $theme-colors: () !default;
  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $gray-200,
    "dark": $white,
    "white": $gray-100,
    "black": $white,
    "light-primary": $light-primary,
    "light-secondary": $light-secondary,
    "light-tertiary": $light-tertiary,
    "light-success": $light-success,
    "light-info": $light-info,
    "light-warning": $light-warning,
    "light-danger": $light-danger
  );
  
  @each $color, $value in $grays {
    --#{$prefix}gray-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    $color-rgb: to-rgb($value);
    .text-bg-#{$color} {
      color: color-contrast($value) if($enable-important-utilities, !important, null);
      background-color: rgba($color-rgb, var(--#{$prefix}bg-opacity, 1))
        if($enable-important-utilities, !important, null);
    }

    .bg-#{$color} {
      // color: color-contrast($value) if($enable-important-utilities, !important, null);
      background-color: rgba($color-rgb, var(--#{$prefix}bg-opacity, 1))
        if($enable-important-utilities, !important, null);
    }

    .text-#{$color} {
      color: $value !important;
    }
  }

  @each $color, $value in $grays {
    .bg-gray-#{$color} {
      background-color: $value !important;
    }
    .text-gray-#{$color} {
      color: $value !important;
    }
  }

  // Body
  --#{$prefix}body: #{$gray-200};
  --#{$prefix}body-bg: #{$gray-200};
  --#{$prefix}body-color: #{$gray-100};
  --#{$prefix}heading-color: #{$white};
  ::selection {
    background-color: $primary;
    color: $gray-100;
  }
  
  .bg-invert {
    filter: invert(1);
  }

  // Accordion
  --#{$prefix}accordion-bg: #{$gray-300};

  // Border
  --#{$prefix}border-color: #{$gray-400};

  // Buttons
  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, $value);
    }
  }

  @each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }

  --#{$prefix}btn-ghost-bg: #{$gray-400};
  .btn-outline-white {
    --to-btn-color: #64748b;
    --to-btn-border-color: #334155;
    --to-btn-hover-color: #94a3b8;
    --to-btn-hover-bg: #334155;
    --to-btn-hover-border-color: #334155;
    --to-btn-focus-shadow-rgb: 51, 58, 74;
    --to-btn-active-color: #94a3b8;
    --to-btn-active-bg: #334155;
    --to-btn-active-border-color: #334155;
    --to-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --to-btn-disabled-color: #192e4d;
    --to-btn-disabled-bg: transparent;
    --to-btn-disabled-border-color: #334155;
    --to-gradient: none;
  }

  .btn-tag {
    --to-btn-color: #64748b;
    --to-btn-border-color: #334155;
    --to-btn-hover-color: #94a3b8;
    --to-btn-hover-bg: #334155;
    --to-btn-hover-border-color: #334155;
    --to-btn-focus-shadow-rgb: 51, 58, 74;
    --to-btn-active-color: #94a3b8;
    --to-btn-active-bg: #334155;
    --to-btn-active-border-color: #334155;
    --to-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --to-btn-disabled-color: #192e4d;
    --to-btn-disabled-bg: transparent;
    --to-btn-disabled-border-color: #334155;
    --to-gradient: none;
    --to-btn-border-radius: 50rem;
  }

  // Card
  --#{$prefix}-to-card-to-body: #{$gray-100};
  --#{$prefix}card-background: #{$gray-300};
  
  // Check
  --#{$prefix}input-check-border: var(--#{$prefix}input-border);

  // Code
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: $gray-200 !important;
  }

  // Dropdown
  --#{$prefix}dropdown-background: #{$gray-300};
  --#{$prefix}dropdown-link-color: #{$gray-600};
  --#{$prefix}dropdown-link-hover-color: #{shade-color($gray-800, 10%)};
  --#{$prefix}dropdown-link-hover-bg: #{lighten($gray-400, 2%)};
  --#{$prefix}dropdown-border-width: 1px;
  --#{$prefix}dropdown-shadow: 0 8px 12px 1px rgba(11, 9, 36, 0.29);

  // Hero
  .hero-graphics {
    background-image: url(../images/hero/hero-icon-bg-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  // Inputs
  --#{$prefix}input-bg: #{$gray-100};
  --#{$prefix}input-disabled-bg: #{$gray-300};
  --#{$prefix}input-focus-border: #{tint-color($component-active-bg, 10%)};
  --#{$prefix}input-placeholder-color: #{$gray-600};
  --#{$prefix}input-border: #{$gray-300};
  --#{$prefix}form-text-color: #{$gray-600};
  --#{$prefix}form-label-color: #{$gray-600};
  --#{$prefix}input-focus-box-shadow: 0px 0px 0px 3px rgba(131, 97, 254, 0.5);
  .input-group-text {
    background-color: $gray-100;
  }
  input[type="file"]::file-selector-button {
    background-color: var(--#{$prefix}input-bg);
  }

  // Modal
  --#{$prefix}modal-bg: #{$gray-400};

  // Navbar
  --#{$prefix}navbar-bg: #{$gray-300};
  --#{$prefix}navbar-vertical-bg: #{$gray-300};
  --#{$prefix}navbar-vertical-bg: #{$gray-300};
  --#{$prefix}navbar-vertical-link: #{$gray-600};
  --#{$prefix}navbar-vertical-link-hover: #{$gray-800};
  .navbar .navbar-brand {
    -webkit-filter: brightness(0) invert(0);
    filter: brightness(0) invert(0);
  }
  .navbar-dark .navbar-brand {
    -webkit-filter: brightness(0) invert(0);
    filter: brightness(0) invert(0);
  }

  // Pagination
  --#{$prefix}page-link-hover-color: #{$gray-1000};

  // Popover
  .popover {
    background-color: $gray-200;
    border-color: $gray-300;
  }
  .bs-popover-bottom > .popover-arrow::after,
  .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after,
  .bs-popover-bottom > .popover-arrow::before,
  .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before {
    border-bottom-color: $gray-400;
  }
  .bs-popover-top > .popover-arrow::after,
  .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after,
  .bs-popover-top > .popover-arrow::before,
  .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
    border-top-color: $gray-400;
  }
  .bs-popover-start > .popover-arrow::after,
  .bs-popover-auto[data-popper-placement^="start"] > .popover-arrow::after,
  .bs-popover-start > .popover-arrow::before,
  .bs-popover-auto[data-popper-placement^="start"] > .popover-arrow::before {
    border-left-color: $gray-400;
  }
  .bs-popover-end > .popover-arrow::after,
  .bs-popover-auto[data-popper-placement^="end"] > .popover-arrow::after,
  .bs-popover-end > .popover-arrow::before,
  .bs-popover-auto[data-popper-placement^="end"] > .popover-arrow::before {
    border-right-color: $gray-400;
  }
  .popover-header {
    background-color: $gray-200;
    border-bottom-color: $gray-400;
  }
 
  // Progress
  --#{$prefix}progress-background: #{$gray-400};
  
  // Table
  .table-light {
    background-color: #{$gray-400};
    color: var(--#{$prefix}gray-800) !important;
    th,
    td {
      background-color: #{$gray-400};
      border-color: #{$gray-400};
    }
  }

  // Tagify
  --#{$prefix}tagify-border-color: #{$gray-100};
  .tagify__tag > div {
    color: var(--#{$prefix}gray-800) !important;
  }
  .tagify__tag__removeBtn {
    color: var(--#{$prefix}gray-800) !important;
  }
}