// Transplants.org

@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "lightmode";
@import "darkmode";
@import "utilities";
@import "components";
@import "helpers";
@import "layouts";
@import "vendors";


// Styles

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-family:'Founders Grotesk';
}

@font-face {
  src: url('../fonts/founders-grotesk/founders-grotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-family:'Founders Grotesk';
}

html * {
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings:'kern';*/
}

body {
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-family: 'Founders Grotesk', Arial, sans-serif !important;
}











.cursor-pointer {
  cursor: pointer;
}

.disableClick {
  pointer-events: none;
}

/*::-webkit-scrollbar {
  background: transparent;
  background: $gray-100;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $gray-200;
  border-radius: 0.5rem;
}*/


.password-field {
  &:after {
    content: "";
    background-color: var(--#{$prefix}gray-200);
    display: block;
    width: 100%;
    height: 6px;
    margin-top: 3px;
    border-radius: 0.75rem;
  }

  &.level0:after {
    background-color: var(--#{$prefix}danger);
    width: 25%;
  }

  &.level1:after {
    background-color: var(--#{$prefix}warning);
    width: 50%;
  }

  &.level2:after {
    background-color: var(--#{$prefix}warning);
    width: 75%;
  }

  &.level3:after {
    background-color: var(--#{$prefix}success);
    width: 100%;
  }

  &.level0:after {
    background-color: var(--#{$prefix}gray-200);
    width: 100%;
  }
}


