// Background

.bg-auto {
  @media (max-width: 1200px) {
    background-size: auto !important;
  }
}

.bg-cover {
  background: no-repeat center center / cover;
}

.bg-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bg-colors-gradient {
  background: linear-gradient(280.04deg, #baa9fb 0%, #dbbeff 48.96%, #ffe0e0 100%);
}

.dot-pattern {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../../assets/images/dots-pattern.svg) no-repeat;
  }
}

.img-overlay {
  transition: 0.5s ease;
  position: relative;

  .img-color {
    transition: 0.5s ease;
    position: relative;
    background-color: var(--#{$prefix}primary);
    border-radius: 1rem;

    img {
      border-radius: 0.75rem;
    }

    &:hover img {
      transition: 0.2s ease;
      opacity: 0.4;
      mix-blend-mode: multiply;
    }
  }

  .caption {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }

  &:hover .caption {
    opacity: 1;
  }
}

.hero-graphics {
  background-image: url(../images/hero/hero-graphics.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-dark-stable {
  background-color: $gray-900;
}

.text-white-stable {
  color: $white;
}