// Navbar

.navbar {
  -webkit-transition: all 0.25s ease !important;
  -moz-transition: all 0.25s ease !important;
  -ms-transition: all 0.25s ease !important;
  -o-transition: all 0.25s ease !important;
  transition: all 0.25s ease !important;
  background-color: var(--#{$prefix}navbar-bg);
  padding: 0.5rem 0;
  box-shadow: $box-shadow-sm;

  &.navbar-transparent {
    z-index: 1;
    position: relative;
    background-color: transparent;
    width: 100%;
  }

  .navbar-brand {
    line-height: $line-height-1;
  }

  .navbar-toggler {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    padding: 0.75rem;
    border: 0;
    border-radius: 100rem;

    .icon-bar {
      -webkit-transition: all 0.25s ease !important;
      -moz-transition: all 0.25s ease !important;
      -ms-transition: all 0.25s ease !important;
      -o-transition: all 0.25s ease !important;
      transition: all 0.25s ease !important;
      background-color: var(--#{$prefix}black);
      width: 24px;
      height: 2px;
      display: block;
      margin-top: 0.25rem;
      margin-right: auto;
      margin-left: auto;

      &.top-bar {
        transform: rotate(45deg);
        transform-origin: 16% 190%;
      }

      &.middle-bar {
        opacity: 0;
      }

      &.bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 20% -80%;
      }
    }

    &:hover, &:focus {
      background-color: mix($gray-100, $gray-200, 50%);
      box-shadow: none;
      outline: 0;
    }

    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
      }

      .bottom-bar {
        transform: rotate(0);
      }
    }
  }

  .nav {
    .nav-item {
      .nav-link {
        i.bi, i[class^="bi-"] {
          font-size: 24px;

          &::before {
            width: 24px;
            height: 24px;
          }
        }

        &::after {
          display: none;
        }
      }
    }

    .btn {
      padding: 0.375rem 0.6875rem;
      font-size: 0.9rem;
      font-weight: $font-weight-medium;
      letter-spacing: 0.02em;

      @include media-breakpoint-up(sm) {
        padding-top: 0.35rem;
        padding-right: 1rem;
        padding-bottom: 0.35rem;
        padding-left: 1rem;
        letter-spacing: 0.01em;
      }
    } 
  }

  .navbar-collapse {
    border-top: 1px solid var(--#{$prefix}gray-700);
  }

  .navbar-nav {
    position: relative;
  }
  
  .nav-item {
    .nav-link {
      -webkit-transition: all 0.25s ease-in-out 0s !important;
      -moz-transition: all 0.25s ease-in-out 0s !important;
      -ms-transition: all 0.25s ease-in-out 0s !important;
      -o-transition: all 0.25s ease-in-out 0s !important;
      transition: all 0.25s ease-in-out 0s !important;
      display: flex;
      align-items: center;
      color: var(--#{$prefix}black);
      
      &:hover {
        color: var(--#{$prefix}primary);
      }

      &:focus-visible {
        box-shadow: none !important;
      }

      &::after {
        -webkit-transition: all 0.25s ease-in-out 0s !important;
        -moz-transition: all 0.25s ease-in-out 0s !important;
        -ms-transition: all 0.25s ease-in-out 0s !important;
        -o-transition: all 0.25s ease-in-out 0s !important;
        transition: all 0.25s ease-in-out 0s !important;
        content: "\e930";
        background-size: 0.625rem;
        background-repeat: no-repeat;
        float: none;
        margin-top: 0.125rem;
        margin-left: auto;
        border: 0;
        font-size: 80%;
        font-family: "Feather" !important;
      }

      &[aria-expanded="true"]::after {
        cursor: default;
        transform: rotate(-180deg);
      }

      &.active {
        color: var(--#{$prefix}primary);
      }

      &.dropdown-toggle {
        &::after {
          -webkit-transition: all 0.25s ease-in-out 0s !important;
          -moz-transition: all 0.25s ease-in-out 0s !important;
          -ms-transition: all 0.25s ease-in-out 0s !important;
          -o-transition: all 0.25s ease-in-out 0s !important;
          transition: all 0.25s ease-in-out 0s !important;
          content: "\e92e";
          background-size: 0.625rem;
          background-repeat: no-repeat;
          float: none;
          margin-top: 0.125rem;
          margin-left: auto;
          border: 0;
          font-size: 1rem;
          font-family: "Feather" !important;
        }

        &[aria-expanded="true"]:after {
          cursor: default;
          transform: rotate(-180deg);
        }
      }

      &.nav-link-end, &.dropdown-toggle-end {
        &::after {
          margin-left: 0.125rem;
        }
      }
    }
  }

  .dropdown-menu {
    padding: 1rem 0.75rem;
    border: 0;
    box-shadow: none;

    .dropdown-header {
      padding: 0;
      color: var(--#{$prefix}gray-600);
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.25em;
    }

    .dropdown-list-group-item {
      min-width: 100%;
    }
  }

  &.navbar-main {
    padding: 0;
    border-bottom: 1px solid $navbar-border-color;
    box-shadow: none;

    > .container:first-child {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .navbar-brand {
      order: 1;
      width: 160px;
      margin-right: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    .navbar-toggler {
      margin-right: -0.75rem;
    }

    .nav {
      display: flex;
      order: 2;

      .nav-link {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        padding: 0.5rem;

        @include media-breakpoint-up(sm) {
          padding-right: 0.75rem;
          padding-left: 0.75rem;
        }

        &:hover, &:focus {
          background-color: mix($gray-100, $gray-200, 50%);
          border-radius: 100rem;
          color: var(--#{$prefix}black);
        }
      }     
    }

    .navbar-nav-desktop {
      display: none;
    }

    .navbar-nav {
      margin-right: calc(var(--to-gutter-x) * -1);
      margin-left: calc(var(--to-gutter-x) * -1);
      padding-right: calc(var(--to-gutter-x) * 1);
      padding-left: calc(var(--to-gutter-x) * 1);

      .nav-item {
        .nav-link {
          padding: 1.3125rem 0;
          border-bottom: 1px solid var(--#{$prefix}gray-300);
          font-size: rfs-fluid-value(1.15rem);

          &:hover {
            color: var(--#{$prefix}primary);
          }

          &.show {
            border-bottom: 1px solid var(--#{$prefix}primary);
            color: var(--#{$prefix}primary);
          }

          .icon-transplant-type {
            width: 36px;
          }
        }

        &:last-child {
          .nav-link {
            border-bottom-color: transparent;

            &.show {
              border-bottom-color: var(--#{$prefix}primary);
            }
          }
        }
      }
    }

    .dropdown-menu {
      background-color: transparent;
      min-width: auto;
      margin: 0;
      padding: 2rem 1.25rem;
      border-bottom: 1px solid var(--#{$prefix}gray-300);
      border-radius: 0;
      box-shadow: none;

      .dropdown-list-group-item {
        min-width: 100%;
      }

      .nav-item {
        border-bottom: 0;

        .nav-link {
          padding: 1rem 0;
          border-bottom: 0;
          border-radius: 0.5rem;
          font-size: rfs-fluid-value(1.15rem);

          &.show {
            border-bottom: 0;
          }
        }

        .dropdown-menu {
          background-color: var(--#{$prefix}gray-100);
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
          padding: 1rem 1.5rem;
          border-bottom: 0;
          border-radius: 0.5rem;

          .dropdown-header {
            padding: 1rem 0 0;
          }

          hr {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
            color: var(--#{$prefix}gray-300);
          }

          .nav-item {
            .nav-link {
              padding: 1rem 0;
              display: inline-block;
            }

            .dropdown-menu {
              background-color: var(--#{$prefix}white);
              border: 1px solid var(--#{$prefix}gray-300);

              .nav-item {
                .nav-link {
                  padding: 0.75rem 0;

                  &:first-child {
                    padding-top: 0.5rem;
                  }

                  &:last-child {
                    padding-bottom: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar-search {
    transition: visibility 0s 0.35s, opacity 0.35s linear;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--#{$prefix}white);
    height: 100%;
    width: 100%;
    display: flex;
    
    &.show {
      transition: opacity 0.35s linear;
      z-index: 1021;
      opacity: 1;
      visibility: visible;

      .navbar-toggler {
        display: block !important;
      }
    }

    .bi.bi-search::before {
      width: 22px;
      height: 22px;
    }

    .form-control {
      background-color: var(--#{$prefix}gray-100);
      padding-top: 0.75rem !important;
      padding-bottom: 0.75rem !important;
      border: 2px solid var(--#{$prefix}gray-300);
      box-shadow: 0px 0px 0px 2px var(--#{$prefix}white);
      border-radius: 1rem;
      color: var(--#{$prefix}primary);
      font-size: 1.15rem;
      line-height: 1em;
      letter-spacing: 0;

      &::placeholder {
        color: var(--#{$prefix}gray-600);
      }

      &:hover, &:focus {
        background-color: var(--#{$prefix}white);
        box-shadow: 0px 0px 0px 2px rgba(33, 99, 232, 0.2);
        border: 2px solid rgba(33,99,232,1);
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .headroom--unpinned .navbar.navbar-main {
    transform: translateY(-100%) !important;
    opacity: 0 !important; 
  }

  .navbar {
    padding: 0.75rem 1rem;

    &.navbar-transparent {
      position: absolute;
      right: 0;
      left: 0;
    }

    .navbar-nav {
      position: inherit;
      gap: 0;

      .nav-item {
        .nav-link {
          padding: 0.3125rem 0.3125rem 0.3125rem 0.5rem;  
          font-size: 1.05rem;
        }
      }
    }

    .nav-item {
      .nav-link {
        &.dropdown-toggle {
          &::after {
            float: right;
          }
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        -webkit-transition: all 0.25s ease-in-out 0s !important;
        -moz-transition: all 0.25s ease-in-out 0s !important;
        -ms-transition: all 0.25s ease-in-out 0s !important;
        -o-transition: all 0.25s ease-in-out 0s !important;
        transition: all 0.25s ease-in-out 0s !important;
        opacity: 0;
        visibility: hidden;
        z-index: 1021;
        top: 100%;
        background-color: var(--#{$prefix}navbar-bg);
        display: block;
        min-width: 14rem;
        margin: 1rem 0 0;
        padding: 1rem;
        border: 1px solid rgba(222,226,230,.4);
        border-radius: 0.5rem;
        box-shadow: 0 10px 30px 0 rgba(31, 45, 61, .1);
      }

      &:hover {
        > .dropdown-menu {
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .dropdown-fullwidth {
      position: static;

      > .dropdown-menu {
        z-index: 1021;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--#{$prefix}navbar-bg);
        border-top: 1px solid $navbar-border-color;
        border-bottom: 1px solid $navbar-border-color;
        border-radius: 0;
        box-shadow: $navbar-main-box-shadow;
        clip-path: inset(0 -5px -5px -5px);
      }
    }

    .dropdown-click-required {
      &:hover {
        > .dropdown-menu {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          opacity: 0;
          visibility: hidden;
        }
      }

      .dropdown-menu {
        &.show {
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
          display: block;
        }
      }
    }

    &.navbar-main {
      box-shadow: none;

      .navbar-brand {
        margin-right: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @include media-breakpoint-up(xl) {
          width: 180px;
          margin-right: 1.5rem;
        }
      }

      .navbar-toggler {
        &:hover, &:focus {
          .icon-bar {
            background-color: var(--#{$prefix}primary);
          }
        }
      }

      .nav {
        order: 3;
        flex-shrink: 0;
        
        .nav-link {
          i.bi, i[class^="bi-"] {
            font-size: 20px;

            &::before {
              width: 20px;
              height: 20px;
            }
          }

          &:hover, &:focus {
            color: var(--#{$prefix}primary);
          }
        }
      }

      .navbar-nav-mobile {
        display: none !important;
      }

      .navbar-nav-desktop {
        display: flex !important;
        flex-basis: auto;
        flex-shrink: 0;
        flex-grow: 1;
        order: 2;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 0;
      }

      .navbar-nav {
        flex-wrap: wrap;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        border: 0;

        .nav-item {
          border-bottom: 0;

          .nav-link {
            position: relative;
            overflow-y: hidden;
            padding: 0.4375rem 0.4375rem 0.4375rem 0.625rem;
            border-bottom: 0px solid transparent;
            border-radius: 0;
            font-size: 1.05rem;

            @include media-breakpoint-up(xl) {
              font-size: 1.1rem;
            }

            &::before {
              -webkit-transition: all 0.25s ease-in-out 0s !important;
              -moz-transition: all 0.25s ease-in-out 0s !important;
              -ms-transition: all 0.25s ease-in-out 0s !important;
              -o-transition: all 0.25s ease-in-out 0s !important;
              transition: all 0.25s ease-in-out 0s !important;
              content: "";
              position: absolute;
              right: 0.4375rem;
              bottom: 0;
              left: 0.625rem;
              background-color: transparent;
              width: calc(100% - 0.4375rem - 0.625rem);
              height: 0.125rem;
              display: block;
            }

            &:hover {
              &::before {
                background-color: var(--#{$prefix}primary);
              }
            }

            &.show {
              background: rgba(var(--#{$prefix}primary-rgb), .1);
              border-radius: 0.3125rem;
              border-bottom: 0;
              color: var(--#{$prefix}primary);

              &:hover {
                &::before {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  .headroom--pinned.headroom--not-top .navbar.navbar-main {
    box-shadow: 0 2px 5px rgba(0, 29, 56, 0.05); 
  }
}

// Side Navbar

@include media-breakpoint-down(lg) {
  .navbar {
    .nav-top-wrap {
      flex-direction: row;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        position: absolute;
        right: 0;
        margin: 2.25rem 0.75rem !important;
        
        .dropdown-submenu .dropdown-menu {
          position: relative;
          right: 0;
          top: -7px !important;
          padding: 0 !important;
        }
      }
    }
  }
}

// Navbar Overflow and Overlay
body.overflow-hidden {
  overflow: hidden !important;

  @media (min-width: 992px) {
    overflow: auto !important;
  }
}

.navbar-mobile-offset {
  opacity: 0;
  visibility: visible;
  background-color: transparent;
  width: 100%;
  height: 70px;
  display: block;

  @include media-breakpoint-up(lg) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-main-mobile-overlay {
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -ms-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,13,26,.9);

    &.collapsed {
      z-index: -1;
    }
  }
}