// Navbar

.navbar {
  -webkit-transition: all 0.25s ease !important;
  -moz-transition: all 0.25s ease !important;
  -ms-transition: all 0.25s ease !important;
  -o-transition: all 0.25s ease !important;
  transition: all 0.25s ease !important;
  background-color: var(--#{$prefix}navbar-bg);
  padding: 0.5rem 0;
  box-shadow: $box-shadow-sm;

  &.navbar-transparent {
    z-index: 1;
    position: relative;
    background-color: transparent;
    width: 100%;
  }

  .navbar-brand {
    line-height: $line-height-1;
  }

  .navbar-toggler {
    padding: 0.75rem 0.563rem;
    border: 1px solid $primary;
    
    &:focus {
      box-shadow: none;
      outline: 0rem;
    }

    .icon-bar {
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      background-color: $black;
      display: block;
      width: 24px;
      height: 2px;
      margin-top: 0.25rem;
    }

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 16% 190%;
    }

    .middle-bar {
      opacity: 0;
    }

    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 20% -80%;
    }

    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
      }

      .bottom-bar {
        transform: rotate(0);
      }
    }
  }

  .nav {
    .nav-link {
      color: $black;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        transition: all .3s ease-in-out 0s;
        color: $black;

        &:hover {
          color: var(--#{$prefix}primary);
        }

        &.active {
          color: var(--#{$prefix}primary);
        }

        &:focus-visible {
          box-shadow: none !important;
        }
      }
    }
  }

  .dropdown-toggle {
    &:after {
      transition: all .3s ease-in-out 0s;
      content: "\e92e";
      background-size: 0.625rem 0.625rem;
      background-repeat: no-repeat;
      float: right;
      margin-top: 0.125rem;
      margin-left: 0.125rem;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
      font-size: 16px;
      font-family: "Feather" !important;
    }

    &[aria-expanded="true"]:after {
      cursor: default;
      transform: rotate(-180deg);
    }
  }

  .dropdown-toggle-icon-none {
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }
  }

  .dropdown-menu {
    top: 28px;
    min-width: 14rem;
    padding: 1rem 0.75rem;
    border: 0;
    box-shadow: none;

    .dropdown-list-group-item {
      min-width: 100%;
    }

    .dropdown-submenu {
      .dropdown-toggle {
        &::after {
          position: absolute;
          right: 1rem;
          color: $black;
        }
      }
    }
  }

  &.navbar-main {
    border-bottom: 1px solid $navbar-border-color;
    box-shadow: none;

    .navbar-brand {
      order: 1;
      padding-top: 1rem;
      padding-bottom: 1rem;

      img {
        width: 180px;
        height: auto;
      }
    }

    .navbar-toggler {
      margin-right: -0.75rem;
      padding: 0.75rem 0.65rem;
      border: transparent;
    }

    .nav {
      order: 2;

      .nav-link {
        padding: 0.5rem 0.563rem;
        color: $black;

        .bi {
          &.bi-search {
            font-size: 24px;

            &::before {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .btn {
        padding: 0.4rem 1rem;
        font-size: 0.85rem;
        font-weight: $font-weight-medium;
        letter-spacing: 0.01em;
      }      
    }

    .navbar-collapse {
      order: 3;
      margin-right: calc(var(--to-gutter-x) * -1);
      margin-left: calc(var(--to-gutter-x) * -1);
      margin-bottom: -0.5rem;
    }

    .navbar-nav {
      margin-top: calc(0.5rem);
      padding-right: calc(var(--to-gutter-x) * 1);
      padding-left: calc(var(--to-gutter-x) * 1);
      
      &::before {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        content: "";
        background-color: var(--#{$prefix}gray-600);
        height: 1px;
        display: block;
        position: fixed;
        right: calc(var(--to-gutter-x) * 1);
        left: calc(var(--to-gutter-x) * 1);
        margin-top: -1px;
      }

      .nav-item {
        .nav-link {
          padding: 1.3125rem 0;
          border-bottom: 1px solid var(--#{$prefix}gray-300);
          font-size: rfs-fluid-value(1.25rem);

          &:hover {
            color: $primary;
          }

          &.show {
            border-bottom: 1px solid var(--#{$prefix}primary);
            color: $primary;
          }
        }

        &:last-child {
          .nav-link {
            border-bottom: 0;
          }
        }
      }
    }

    .dropdown-header {
      padding: 0;
      color: var(--#{$prefix}gray-600);
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.25em;
    }

    .dropdown-menu {
      top: 0;
      background-color: transparent;
      min-width: auto;
      margin: 0;
      padding: 1.5rem 0 1rem;
      border-radius: 0;
      box-shadow: none;

      .nav-item {
        border-bottom: 0;

        .nav-link {
          padding: 0.75rem 0;
          border-bottom: 0;
          border-radius: 0.5rem;
          font-size: rfs-fluid-value(1.15rem);

          &.show {
            border-bottom: 0;
          }
        }

        .dropdown-menu {
          background-color: mix($gray-100, $gray-200);
          margin-top: 0.25rem;
          margin-bottom: 0.75rem;
          padding: 1rem 1.5rem;
          border-radius: 0.5rem;

          .dropdown-header {
            padding: 1rem 0 0;
          }

          hr {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
            color: var(--#{$prefix}gray-400);
          }

          .nav-item {
            .nav-link {
              padding: 1rem 0;
            }

            .dropdown-menu {
              background-color: $white;
              border: 1px solid var(--#{$prefix}gray-300);

              .nav-item {
                .nav-link {
                  padding: 0.75rem 0;

                  &:first-child {
                    padding-top: 0.5rem;
                  }

                  &:last-child {
                    padding-bottom: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .headroom--unpinned .navbar-main {
    transform: translateY(-100%) !important;
    opacity: 0 !important; 
  }

  .navbar-collapse.navbar-collapse-mobile-only {
    display: none !important;
  }

  .navbar {
    padding: 0.75rem 1rem;

    &.navbar-transparent {
      position: absolute;
      right: 0;
      left: 0;
    }

    .navbar-collapse {
      margin-bottom: inherit;
    }

    .navbar-nav {
      gap: 0.25rem;

      .nav-item {
        .nav-link {
          padding: 0.3125rem 0.3125rem 0.3125rem 0.5rem;  
          font-size: 1.05rem;
        }
      }
    }

    .dropdown-menu-end {
      right: 0;
      left: auto;
    }

    .dropdown-menu-start {
      right: auto;
      left: 0;
    }

    .dropdown-submenu.dropend {
      .dropdown-menu {
        top: -18px;
        right: 0;
        left: 100%;
        min-width: 16rem;
        border-radius: 0.5rem;
        box-shadow: var(--#{$prefix}dropdown-shadow);
      }
    }

    .dropdown-submenu.dropstart {
      .dropdown-menu {
        top: -18px;
        right: 100%;
        left: auto;
        min-width: 16rem;
        border-radius: 0.5rem;
        box-shadow: var(--#{$prefix}dropdown-shadow);
      }
    }

    .dropdown-menu {
/*      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);*/
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      display: block;
      margin: 1.125rem 0;
      box-shadow: var(--#{$prefix}dropdown-shadow);
    }

    /*.dropdown-menu-2 {
      top: 0;
      background-color: transparent;
      min-width: auto;
      padding: 0;
      border: 1px solid var(--#{$prefix}gray-300);
      box-shadow: none;
      color: var(--#{$prefix}gray-800);
      line-height: 1.2rem;
    }*/

    .dropdown {
      &:hover {
        > .dropdown-menu {
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .dropdown-submenu {
      &:hover {
        > .dropdown-menu {
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .dropdown-fullwidth {
      position: static;

      > .dropdown-menu {
        z-index: 1000000;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        background-color: #fff;
        border-top: 1px solid $navbar-border-color;
        border-bottom: 1px solid $navbar-border-color;
        border-radius: 0;
        box-shadow: $navbar-main-box-shadow;
        clip-path: inset(0 -5px -5px -5px);
      }
    }

    .dropdown-click-required {
      &:hover {
        > .dropdown-menu {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          opacity: 0;
          visibility: hidden;
        }
      }

      & .dropdown-menu {
        &.show {
          -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
          display: block;
        }
      }
    }

    &.navbar-main {
      box-shadow: none;  

      .navbar-brand {
        margin-right: calc(var(--to-navbar-brand-margin-end) * 1.5);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        img {
          width: 185px;
        }
      }

      .nav {
        order: 3;
        flex-shrink: 0;

        .bi {
          &.bi-search {
            font-size: 22px;

            &::before {
              width: 22px;
              height: 22px;
            }
          }
        }
      }

      .navbar-collapse {
        order: 2;
        margin-bottom: 0;
      }

      .navbar-nav {
        flex-wrap: wrap;
        margin-top: 0;
        border: 0;

        &::before {
          display: none;
        }

        .nav-item {
          border-bottom: 0;

          .nav-link {
            padding: 0.4375rem 0.3125rem 0.4375rem 0.5rem;
            border-bottom: 0;
            border-radius: 0.375rem;
            font-size: $nav-link-font-size;

            &.show {
              background: rgba(33, 99, 232, .1);
              color: var(--#{$prefix}primary);
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    .nav-top-wrap {
      flex-direction: row;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        position: absolute;
        right: 0;
        margin: 2.25rem 0.75rem !important;
        
        .dropdown-submenu .dropdown-menu {
          position: relative;
          right: 0;
          top: -7px !important;
          padding: 0 !important;
        }
      }
    }
  }

  .navbar-main-mobile-only-overlay {
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -ms-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.3);

    &.collapsed {
      z-index: -1;
    }
  }
}