// Pagination

.page-item {
  &:first-child .page-link {
    margin-right: $pagination-margin-x-first-last;
  }

  &:not(:first-child) .page-link {
    margin-right: $pagination-margin-x-first-last;
    margin-left: $pagination-margin-start;
  }

  @if $pagination-margin-start == (calc($pagination-border-width * -1)) {
    &:first-child {
      .page-link {
        @include border-start-radius(var(--#{$prefix}pagination-border-radius));
      }
    }

    &:last-child {
      .page-link {
        @include border-end-radius(var(--#{$prefix}pagination-border-radius));
      }
    }
  } @else {
    .page-link {
      @include border-radius(var(--#{$prefix}pagination-border-radius));
    }
  }
}