// Admin Structure

.header {
  .navbar {
    padding: 0.625rem 1.5rem;

    #nav-toggle {
      color: var(--#{$prefix}gray-700);
      font-size: 20px;
      line-height: 0.5;
    }

    .navbar-nav {
      @media (max-width: 991.98px) {
        flex-direction: row;
      }
    }
  }
}

#db-wrapper {
  display: flex;
  overflow-x: hidden;
}

#page-content {
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  min-width: 100vw;
  min-height: 100vh;
  margin-left: 15.625rem;
}

#page-content-for-mini {
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  min-width: 100vw;
  min-height: 100vh;
  margin-left: 75px; 
}

#db-wrapper.toggled .navbar-vertical {
  margin-left: 0;
}

#db-wrapper.toggled .navbar-vertical-compact {
  margin-left: 0;
}

#db-wrapper.toggled #page-content {
  margin-left: 0;
}

#db-wrapper.toggled #page-content-for-mini {
  margin-left: 0;
}

@media (max-width: 740px) {
  #page-content {
    margin-left: 0;
  }

  #db-wrapper.toggled {
    #page-content {
      margin-left: 15.6875rem;
    }
  }

  #page-content-for-mini {
    margin-left: 0;
  }

  #db-wrapper.toggled {
    #page-content-for-mini {
      margin-left: 74px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-vertical {
    margin-left: 0;
  }

  #page-content {
    width: 100%;
    min-width: 0;
  }

  #db-wrapper.toggled .navbar-vertical {
    margin-left: -16rem;
  }

  .navbar-vertical-compact {
    margin-left: 0;
  }

  #page-content-for-mini {
    width: 100%;
    min-width: 0;
  }

  #db-wrapper.toggled .navbar-vertical-compact {
    margin-left: -74px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #page-content {
    margin-left: 0;
  }

  #db-wrapper.toggled {
    #page-content {
      margin-left: 15.6875rem;
    }
  }

  #page-content-for-mini {
    margin-left: 0;
  }
}