<div role="alert" class="alert alert-main bg-primary border-0 rounded-0 m-0 py-3 fade show overflow-hidden d-none">
  <div class="position-relative">
    <div class="container">
      <div class="d-flex row">
        <div class="col">
          <div class="d-none">
            <div class="me-3">
                <span class="badge bg-primary p-2 px-3">Trending:</span>
              </div>
              <div class="tiny-slider arrow-end arrow-xs arrow-white arrow-round arrow-md-none">
                <div class="tiny-slider-inner text-white"
                  data-mode="carousel"
                  data-autoplay="true"
                  data-hoverpause="true"
                  data-gutter="0"
                  data-arrow="true"
                  data-prevButton="false"
                  data-dots="false"
                  data-items="1">
                  <div> <a href="#" class="text-reset btn-link">The most common business debate isn't as black and white as you might think</a></div>
                  <div> <a href="#" class="text-reset btn-link">How the 10 worst business fails of all time could have been prevented </a></div>
                  <div> <a href="#" class="text-reset btn-link">Hello </a></div>
                </div>
              </div>
            </div>
          <p class="text-white m-0">Leading a push to make the nation’s organ-transplant system more equitable and efficient</p>
        </div>
        <div class="col-auto align-self-center">
          <button type="button" class="btn-close btn-close-white opacity-9" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
</div>