<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Transplants.org" />

<link rel="icon" href="@@webRoot/assets/images/favicon/Favicon.png" sizes="32x32" />
<link rel="apple-touch-icon" href="@@webRoot/assets/images/Favicon.png" />

<script src="@@webRoot/assets/js/vendors/darkMode.js"></script>

<link href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
<link href="@@webRoot/assets/fonts/feather/feather.css" rel="stylesheet" />
<link href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css" rel="stylesheet" />

<!-- build:css @@webRoot/assets/css/style.min.css -->
<link href="@@webRoot/assets/css/style.css" rel="stylesheet" />
<!-- endbuild -->