<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Codescandy" />

<!-- Favicon icon-->
<link rel="icon" href="@@webRoot/assets/images/favicon/cropped-Favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="@@webRoot/assets/images/favicon/cropped-Favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="@@webRoot/assets/images/cropped-Favicon-180x180.png" />
<meta name="msapplication-TileImage" content="@@webRoot/assets/images/favicon/cropped-Favicon-270x270.png" />

<!-- darkmode js -->
<script src="@@webRoot/assets/js/vendors/darkMode.js"></script>

<!-- Libs CSS -->
<link href="@@webRoot/assets/fonts/feather/feather.css" rel="stylesheet" />
<link href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
<link href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css" rel="stylesheet" />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/style.min.css -->
<link href="@@webRoot/assets/css/style.css" rel="stylesheet" />
<!-- endbuild -->