<div role="alert" class="alert alert-warning py-3 px-0 m-0 bg-tertiary border-0 rounded-0 fade show overflow-hidden">
  <div class="position-relative">
    <div class="container">
      <div class="d-flex row">
        <div class="col">
          <div class="d-none">
            <div class="me-3">
                <span class="badge bg-primary p-2 px-3">Trending:</span>
              </div>
              <div class="tiny-slider arrow-end arrow-xs arrow-white arrow-round arrow-md-none">
                <div class="tiny-slider-inner text-white"
                  data-mode="carousel"
                  data-autoplay="true"
                  data-hoverpause="true"
                  data-gutter="0"
                  data-arrow="true"
                  data-prevButton="false"
                  data-dots="false"
                  data-items="1">
                  <div> <a href="#" class="text-reset btn-link">The most common business debate isn't as black and white as you might think</a></div>
                  <div> <a href="#" class="text-reset btn-link">How the 10 worst business fails of all time could have been prevented </a></div>
                  <div> <a href="#" class="text-reset btn-link">Hello </a></div>
                </div>
              </div>
            </div>
          <p class="text-white m-0">Leading a push to make the nation’s organ-transplant system more equitable and efficient</p>
        </div>
        <div class="col-auto align-self-center">
          <button type="button" class="btn-close btn-close-white opacity-9" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sticky-top">
  <nav class="navbar navbar-main navbar-light navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="@@webRoot/assets/images/transplantsorg-logo-black.svg" alt="Transplants.org logo" />
      </a>
      <div class="nav flex-nowrap align-items-center">
        <div class="nav-item dropdown dropdown-toggle-icon-none dropdown-click-required nav-search">
          <a class="nav-link dropdown-toggle" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-search fs-4"> </i>
          </a>
          <div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
            <form class="input-group">
              <input class="form-control border-success" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success m-0" type="submit">Search</button>
            </form>
          </div>
        </div>
        <div class="nav-item">
          <a href="#" class="btn btn-sm rounded-2 btn-primary mb-0 mx-2">Give Today</a>
        </div>
        <button
          class="navbar-toggler collapsed ms-2 ms-lg-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-default"
          aria-controls="navbar-default"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon-bar top-bar rounded-pill mt-0"></span>
          <span class="icon-bar middle-bar rounded-pill"></span>
          <span class="icon-bar bottom-bar rounded-pill"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-default">
        <ul class="navbar-nav navbar-nav-scroll me-auto">
          <li class="nav-item dropdown dropdown-fullwidth dropdown-click-required">
            <a class="nav-link dropdown-toggle" href="#" id="megaMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Patient Care &amp; Support">Patient Care &amp; Support</a>
            <div class="dropdown-menu megamenu" aria-labelledby="megaMenu">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <h5>Solid Organ</h5>
                    <ul class="list-unstyled">
                      <li><a href="#">Heart</a></li>
                    </ul>
                  </div>
                  <div class="col-12 col-xl-4">
                    <h5>Stem Cell (Bone Marrow)</h5>
                    <ul class="list-unstyled">
                      <li><a href="#">Autologous</a></li>
                    </ul>
                  </div>
                  <div class="col-12 col-xl-2">
                    <h5>Patient Story</h5>
                    Test
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-fullwidth dropdown-click-required">
            <a class="nav-link dropdown-toggle" href="#" id="megaMenu3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Find a Center</a>
            <div class="dropdown-menu megamenu" aria-labelledby="megaMenu3">
              <div class="container">
                <div class="row">
                  <div class="col">
                    Test
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-click-required">
            <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
            <ul class="dropdown-menu" aria-labelledby="pagesMenu">
              <li> <a class="dropdown-item" href="about-us.html">About Us</a></li>
              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">About Us</a>
                <ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
                  <li> <a class="dropdown-item" href="shop-grid.html">Founding Story</a> </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>