<script src="@@webRoot/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@@webRoot/node_modules/simplebar/dist/simplebar.min.js"></script>
<script src="@@webRoot/node_modules/headroom.js/dist/headroom.min.js"></script>

<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/main.js"></script>
<script src="@@webRoot/assets/js/changelog.js"></script>
<!-- endbuild -->
