<ul class="list-unstyled timeline">
  <li>
    Pre-Waitlist
    <ul class="list-unstyled">
      <li>Event 1</li>
    </ul> 
  </li>
  <li>
    Referral to Center
    <ul class="list-unstyled">
      <li>Evaluation</li>
      <li>News</li>
    </ul>
  </li>
  <li>
    Listing
    <ul class="list-unstyled">
      <li>Listing</li>
      <li>Waiting for an Organ</li>
    </ul>
  </li>
  <li class="timeline-active">
    Surgery &amp; Recovery
    <ul class="list-unstyled">
      <li>Surgery</li>
      <li>Hospital Stay</li>
    </ul>
  </li>
  <li>
    Post-Transplant Care
    <ul class="list-unstyled">
      <li>Rejection</li>
      <li>Immunosuppressants</li>
      <li>Complications</li>
      <li>Staying Healthy</li>
    </ul>
  </li>
</ul>